<div class="container-fluid">
    <h1 class="mt-4">Information of User</h1>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <form id="userform">
                <div class="mb-3 row" id="usernameField">
                    <label class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="username" >
                    </div>
                </div>
                <div class="mb-3 row" id="fullnameField">
                    <label class="col-sm-2 col-form-label">Fullname</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="fullname" id="fullname">
                    </div>
                </div>
                <div class="mb-3 row" id="genderField">
                    <label class="col-sm-2 col-form-label">Gender</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                            <label class="form-check-label" for="female">female</label>
                        </div>
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                            <label class="form-check-label" for="male">male</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row" id="emailField">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="email" required>
                        <div class="invalid-feedback" id="emailErr"></div>
                    </div>
                </div>
                <div class="mb-3 row" id="birthdayField">
                    <label class="col-sm-2 col-form-label">Birthday</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="birthday">
                    </div>
                </div>
                <div class="mb-3 row" id="addressField">
                    <label class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <input type="submit" class="btn btn-danger col-sm-2" id="btnSave" value="Save" disabled>
                    <div class="col-sm-auto"></div>
                    <input type="reset" class="btn btn-primary col-sm-2" id="btnCancel" value="Cancel">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/user_info.js"></script>